include ./_header.pug
  div.container
    div#main
      p#message This Application needs User Permission.
      div.form-group
        div.row
          input#passwd.form-control.col-10(type="password" placeholder="Password" autofocus)
          input#accept.btn.btn-primary.col-2(type="button" value="accept")
    
