html{
  height: 100%;
  overflow: hidden;
}

body{
  -webkit-user-select: none;
  -webkit-app-region: drag;
  background: rgba(34, 37, 43, 0.90);
  padding: 0px;
  padding-top: 25px;
  margin-right: 0;
  height: 100%;
}

.container{
  height: 100%;
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
}

.dragmovable{
  -webkit-app-region: drag;
}

.nodragmovable{
  -webkit-app-region: no-drag;
}

.row{
  height: 70%;
}

.menu{
  margin: auto;
  padding-left: 25px;
  font-size: 18px;
}

.overviewGraph{
  margin: auto;
}

#leftSide{
  height: 100%;
  padding: 0px;
  border-right: 1px solid rgb(60, 60, 60);
}

#menues{
  overflow: hidden;
  padding: 0;
  padding-left: 0px;
  list-style: none;
}

#menues li{
  padding: 10px 0;
}

#menues li:hover{
  background: rgb(0, 191, 255);
  cursor: pointer;
}

#totalTypes{
  list-style: none;
  background: rgb(0, 191, 255);
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 8px;
}

#statistics{
  list-style: none;
}

#overview{
}

#weekly{
  overflow: visible;
  width: 300px;
  height: 160px;
}

#daily{
  overflow: visible;
  width: 300px;
  height: 160px;
}
