include ../_header.pug
  div.container
    h2.text-info TypeCounter
    hr
    div.row
      div#leftSide.col-3
        ul#menues
          li
            p.menu.text-light Overview
          li
            p.menu.text-light Statistics
          li
            p.menu.text-light Types
      div#main.col-9
        ul#statistics.contents(style="display:none" name="Statistics")
          li Total: 1482 
          li Most: Space
          li Least: o
          li Today: 52
          li Yesterday: 1043
            
        ul#totalTypes.contents(style="display:none" name="Types")
          li A: 129
          li B: 111
          li C: 80
          
        div#test.contents(name="Overview")
      
